:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #303030;
  --modal-btn-dark-theme-color: #ffffff;
  --modal-btn-light-theme-color: #303030;
  --text-dark-theme-color: #9da4bd;
  --text-light-theme-color: #555555;
  --accent-color: #ff6c00;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--text-light-theme-color);
}

h1 {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-utils {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-address {
  margin-right: 40px;
}

.navigation-list-link,
.header-tel-link,
.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

.navigation-list-link {
  padding-top: 52px;
  padding-bottom: 52px;
}

.header-tel-link {
  text-transform: uppercase;
}

.modal-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Hero Section */

.hero .container {
  display: flex;
}

.hero-slider {
  background-color: var(--modal-btn-light-theme-color);
  flex-grow: 1;
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 206px;
}

.social-links {
  display: flex;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: var(--text-light-theme-color);
}

.social-links-item-link:hover,
.social-links-item-link:focus {
  color: var(--accent-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-dark-theme-color);
  margin-bottom: 20px;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--title-dark-theme-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

/* About us */

.about-us .container {
  display: flex;
}

.about-us .subtitle {
  color: var(--text-light-theme-color);
}

.about-us-list {
  display: flex;
  margin-right: 64px;
}

.about-us-title,
.about-us-description {
  margin-bottom: 20px;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-light-theme-color);
}

.about-us .description {
  color: var(--text-light-theme-color);
}

.about-us-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-color);
  margin-bottom: 40px;
}

.about-us .modal-btn {
  color: var(--modal-btn-light-theme-color);
}

/* Services */

.services-list-item-name,
.services-list-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.services-title {
  margin-bottom: 44px;
}

.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.services-list {
  flex-grow: 1;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.services-modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Why are we */

.why-are-we .container {
  display: flex;
}

.why-are-we-list-wrapper {
  display: flex;
  margin-right: 130px;
}

.why-are-we-list:nth-child(even) {
  margin-top: 54px;
}

.why-are-we-list:not(:nth-child(even)) {
  margin-right: 30px;
}

.why-are-we-list-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: #f7f7f7;
}

.why-are-we-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.why-are-we-text-content {
  width: 500px;
}

.why-are-we .subtitle {
  color: var(--text-light-theme-color);
}

.why-are-we-title {
  margin-bottom: 20px;
}

.why-are-we .description {
  color: var(--text-light-theme-color);
}

.why-are-we-list-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-light-theme-color);
  margin-bottom: 6px;
}

.why-are-we-list-item-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-light-theme-color);
}

.symbol-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

/* Out masters */

.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  justify-content: center;
}

.masters-list-item:not(:last-child) {
  margin-right: 20px;
}

.masters .subtitle {
  color: var(--text-light-theme-color);
}

.masters-list-item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
  margin-top: 20px;
  margin-bottom: 15px;
}

.masters-list-item-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

/* gallery*/

.gallery-list {
  display: flex;
}

.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Contacts */

.contact-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.contact-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

/* Footer */

.copyricht-style {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-dark-theme-color);
}
