/* Contacts */

.contact {
  padding-left: 100px;
  background-color: #191c26;
  background-image: url("../images/contact/bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.contact .address {
  display: flex;
  align-items: center;
}

.contact {
  background-image: url("../images/bg1.png");
}

.contact .subtitle {
  color: $title-dark-theme-color;
}

.contact-title {
  color: $title-dark-theme-color;
  margin-bottom: 40px;
}

.contact-list {
  margin-bottom: 70px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list-item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $text-dark-theme-color;
}

.contact-list-item-svg {
  margin-right: 16px;
}

.contact-list-item-svg {
  fill: $text-dark-theme-color;
}

.map-pin {
  align-self: flex-start;
  margin-top: 6px;
}

.contact-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $text-dark-theme-color;
}
