/* Why are we */

.why-are-we .container {
  display: flex;
}

.why-are-we-list-wrapper {
  display: flex;
  margin-right: 130px;
}

.why-are-we-list:nth-child(even) {
  margin-top: 54px;
}

.why-are-we-list:not(:nth-child(even)) {
  margin-right: 30px;
}

.why-are-we-list-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: #f7f7f7;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.why-are-we-text-content {
  width: 500px;
}

.why-are-we .subtitle {
  color: $text-light-theme-color;
}

.why-are-we-title {
  margin-bottom: 20px;
}

.why-are-we .description {
  color: $text-light-theme-color;
}

.why-are-we-list-item-count {
  position: relative;
  width: max-content;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: $title-light-theme-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}

.why-are-we-list-item-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: $title-light-theme-color;
}

.symbol-plus {
  position: absolute;
  top: 7px;
  right: -11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: $accent-color;
}
