.modal-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
  color: $modal-btn-dark-theme-color;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}
