/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-form {
  position: relative;
  width: 500px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px;
}

.modal-form-title {
  margin-bottom: 50px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.modal-form-input {
  height: 30px;
}

.modal-form-message {
  margin-bottom: 40px;
  height: 60px;
  resize: none;
}

.modal-form-input,
.modal-form-message {
  display: block;
  width: 100%;
  font-family: $main-font;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.modal-form-message:focus::placeholder {
  color: $accent-color;
}

.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown) {
  outline: none;
  border-bottom-color: $accent-color;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: $main-font;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms linear;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translateY(-30px);
  color: $accent-color;
}

.modal-form-checkbox {
  /* Щоб сховати стандартний checkbox */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-option-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  margin-right: 10px;
}

.modal-form-option-span {
  font-size: 12px;
}

.modal-form-option-span a {
  color: #3498db;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: $accent-color;
  border: 4px solid #fff;
}

.modal-form-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
  color: $modal-btn-light-theme-color;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  transition: color 250ms linear;

  &:hover {
    color: $accent-color;
  }
}

.modal-close-btn-svg {
  width: 15px;
  height: 15px;
}
